/*Contenedor .menu*/
.menu {
  background-image: url('../imagenes/fondos/FondoLateral.png');
  border-right: 1px solid #ea6a20;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 6vw;
  overflow: hidden;
  -webkit-transition: width .05s linear;
  transition: width 0.1s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;  
  /* padding-top: 12vh; */
}
.menu:hover {
  width: 15vw;
  overflow: visible;
}

.menu>ul {
  margin: 7px 0;
}

.menu li {
  position: relative;
  display: block;
  width: 15vw;
}

.menu li>a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-family: Times New Roman, serif;
  font-size: 1.2vw;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  width: 15vw;
}

.nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding-left: 1vw;
}

.menu li:hover>a {
  color: #fff;
  background-color: #000;
}

.menu ul{
  outline: 0;
  margin: 0;
  padding: 0;
}

/*Opciones*/
.titulo-central {
  margin-top: 8vh;
}

.titulo {
  font-size: 1.2vw;
  position: relative;
  display: table-cell;
  width: 6vw;
  height: 36px;
  text-align: center;
  vertical-align: middle;
}
